@import "tailwindcss";

:root {
  --background: #060010;
  --foreground: #ededed;
}

@theme inline {
  --color-background: #060010;
  --color-foreground: #ededed;
  --font-schibsted-grotesk: var(--font-schibsted-grotesk);
}


html{
  scroll-behavior: smooth;
  font-size: clamp(14px, 1.2vw + 1px, 50px);
}
.self-container{
  @apply max-w-6xl mx-auto px-4 md:px-6 lg:px-8;
}